<%- include("./partials/head.ejs") %>

  <%- include("./partials/nav.ejs") %>

  <br><br><br>
  <h1 class="text-xl">Bienvenido a Seguros BeLife!</h1>
  <br>
  <div id="accordion-color" data-accordion="collapse" data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
    <h2 id="accordion-color-heading-1">
      <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left rounded-t-xl border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 hover:bg-blue-100 dark:hover:bg-gray-800 bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
        <span>¿Quienes somos?</span>
        <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-color-body-1" class="" aria-labelledby="accordion-color-heading-1">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus deleniti animi at repellat non voluptates maxime odio, iste, voluptate corporis, magnam ducimus eos? Quas quos eligendi officia quae molestiae quod?
        </p>
        <p class="text-gray-500 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae quod quia veniam architecto voluptatem dolor quidem fugit eius, harum quam sequi sapiente eum voluptatibus odit natus eveniet sed saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit earum sequi cupiditate nemo nesciunt id eaque iste commodi autem neque repellendus, ratione maiores? Voluptatibus a neque, qui reiciendis aliquid veniam!
        </p>
      </div>
    </div>
    <h2 id="accordion-color-heading-2">
      <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-color-body-2" aria-expanded="false" aria-controls="accordion-color-body-2">
        <span>Nuestros planes</span>
        <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia debitis porro atque, perferendis obcaecati ex, voluptate voluptas facilis impedit quidem ad explicabo fugit aspernatur nobis excepturi expedita praesentium eum mollitia!
        </p>
      </div>
    </div>
    <h2 id="accordion-color-heading-3">
      <button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-color-body-3" aria-expanded="false" aria-controls="accordion-color-body-3">
        <span>Mantenga su Vida, Hogar y Vehículo seguros</span>
        <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate nostrum voluptate itaque dolorum expedita esse incidunt delectus officia! Magnam repudiandae labore voluptatem iste vel officia sint, voluptatum magni natus.        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo dolorem optio, quis earum doloremque reiciendis consequatur ratione sapiente debitis, nisi, doloribus ducimus. Harum, illum modi dolor praesentium ut vero.
        </p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit:
        </p>
        <ul class="pl-5 list-disc text-gray-500 dark:text-gray-400">
          <li>
            <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">Seguro de vida</a>
          </li>
          <li>
            <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">Seguro de Hogar</a>
          </li>
          <li>
            <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">Seguro de vida</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  

<%- include("./partials/footer.ejs") %>